/*
 * ${table.serviceName}.java
 * Copyright(C) xinyuow
 * All rights reserved.
 * -----------------------------------------------
 * ${date} Created by ${author}
 */
package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};

#if($!{table.comment})
/**
 * $!{table.comment} 业务接口类
 *
 * @author ${author}
 * @date ${date}
 */
#else
/**
 * $!{entity} 业务接口类
 *
 * @author ${author}
 * @date ${date}
 */
#end
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

}
